.main_page_goal_recommend_goal{
    margin-left: -15px;
}

.group_goal_area{

}

.group_goal_reco_header{
    font-size: 16px;
    margin-left: 5px;
    color: #3C3E50;
}
.main_page_goal_wrapper{
    margin-top: 10px;
}

.main_page_goal_panel{
    border: 1px solid #3C3E50;
    width: 375px;
}

.home_goals{
    font-size: 10px;
}

