.user_has_notifcation{
    color: #e60000;
}

.notblock_wrapper{
    background-color: #3C3E50;
    width: 162px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 11px;
}

.notblock{
    width: 160px;
    background-color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
}

.notblock_header{
    height: 50px;
}

.message{
    margin-left: 40px;
}

.notblock_time{
    font-size: 8px;
    margin-left: 40px;
    margin-top: 10px;
}

.accept{
    color: #00cc00;
}

.decline{
    color: #ff3300;
}