.update_user_info{
    margin-top: 20px;
}

.username_update{
    width: 200px;
}

.about_update{
    width: 415px;
}

.age_input{
    margin-left: 3px;
}

.form_push_left{
    margin-left: 10px;
}

.age_input_width{
    width: 200px;
}

.user_info_update_char{
    margin-top: 33px;
}